<section class="app-controls">
    <button mat-flat-button color="primary" (click)="setModePreview($event)"><mat-icon>visibility</mat-icon>&nbsp;Xem</button>
    <button mat-flat-button color="primary" (click)="setModeEdit($event)"><mat-icon>edit</mat-icon>&nbsp;Sửa</button>
    <button mat-flat-button color="accent" (click)="print($event)"><mat-icon>print</mat-icon>&nbsp;In</button>
    <button mat-flat-button color="warn" (click)="saveConfig($event)"><mat-icon>save_alt</mat-icon>&nbsp;Lưu dữ liệu</button>
</section>
